.main {
  margin: auto;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.sportItem {
  margin: 20px;
  padding: 20px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

